# এই ফাইলটার নাম বদলে .env করো এবং নিচের মানগুলো বসাও
# .env ফাইল কখনো GitHub এ পুশ করবে না (এটা .gitignore এ আছে)


BOT_TOKEN=8829616801:AAE_-xEm-4gwUlhBVlGkVelIOqAsZIiFJ9c
CHANNEL_ID=6656491222
WEBAPP_BASE_URL=https://subtle-sable-d726d7.netlify.app/
ADMIN_IDS=-1003708303700
PORT=3000
